//Texto
.label {
    font-weight: 300;
}

// Colores
$indigo      : #6610f2;
$indigo2     : #290661;
$blanco      : rgb(255, 255, 255);
$negro       : rgb(0, 0, 0);
$rosado      : #FEC7D7 !default;
$azul-oscuro : #0E172C !default;
$azul-cyan   : #85D1CE !default;
$azul-cielo  : #91C1D7 !default;
$morado-claro: #A786DF !default;
$gris-rosado : #D9D4E7 !default;
$gris        : #535353 !default;

// Patrón de colores
$principal      : $indigo2;
$secundario     : $indigo;
$principal-adop :$rosado;

// Modificando variables de Bootstrap
$primary                          : $principal;
$secondary                        : $secundario;
$info                             : $rosado;
$warning                          : $azul-oscuro;
$blue                             : $azul-oscuro;
$indigo                           : $gris-rosado;
$purple                           : $gris;
$pink                             : $principal-adop;
$red                              : $morado-claro;
$orange                           : $azul-cielo;
$cyan                             : $azul-cyan;
// $success                : $azul-oscuro;
// $info                   : $azul-cyan ;
// $danger                 : $rosado;
// $light                  : $azul-cielo;
$light                            : $blanco;
$border-radius                    : 40px;
$btn-border-radius                : 8px;
$dropdown-border-radius           : 0px;
$headings-margin-bottom           : 1;
$navbar-brand-margin-end          : 10px;
$enable-negative-margins          : true;
$carousel-control-icon-width      : 3rem !important;
$carousel-caption-width           : 50%;
$carousel-dark-indicator-active-bg: $negro !important;
$carousel-dark-caption-color      : $negro !important;
$carousel-dark-control-icon-filter: invert(1) grayscale(100) !important;

.form-control,
.form-select {
    border-radius: 10px !important;
}

// Estilos adiccionales
.footer {
    background-color: #fff !important;
}

.img-categoria {
    width          : 64px;
    height         : 64px;
    background     : #85D1CE;
    border-radius  : 50px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.bg-rosado {
    background-color: #FEC7D7 !important;
}

.tipos-categorias {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: flex-start;
}

.nombre-categoria {
    color         : #FFF;
    font-weight   : bold;
    font-size     : 16px;
    line-height   : 24px;
    letter-spacing: 0.005em;
    margin-left   : 10px;
}

.card-tag {
    display       : flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.card-tag h5 {
    margin: 0px !important;
}

.card-img-overlay {
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
}

.card-img-top {
    border-radius: 39px;
    object-fit   : cover !important;
}

.categoria {
    background-color: #0E172C;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    padding         : 8px;
    width           : 156px;
    border-radius   : 8px;
    margin          : 0px 8px 15px 0px;
}

.mx-5 {
    margin-left: 10rem;
}

.cardzoom {
    // overflow: hidden;
    transition: all 1.0s ease;
}

.cardzoom:hover {
    transform: scale(1.1);
    z-index  : 9000;
}

.card {
    background-color: #6610f2 !important;
    border          : 0px solid rgba(0, 0, 0, 0.125) !important;
}

.img-thumbnail {
    border-radius: 0px;
    border       : 0px;
}

.imgcard1 {
    width : 50px;
    height: 50px;
}

.logo {
    width        : 220px !important;
    margin-right : -50px !important;
    margin-bottom: -13px !important;
}

.logo-adopet {
    width        : 80px !important;
    margin-bottom: -13px !important;

}

.h3 {
    margin-top   : 0;
    margin-bottom: 0;
    font-weight  : 500;
    line-height  : 1.2;
}

//Animación nav
.animnav1 {
    background:
        linear-gradient(#6610f2 0 0) 0 100%/var(--d, 0) 3px no-repeat,
        linear-gradient(#6610f2 0 0) 100% 100%/var(--d, 0) 3px no-repeat;
    transition: 0.5s;
}


//Animación navbar aplicación
.d-2 {
    --b: 4px;
    /* border length*/
    --c: 20px;
    /* the cube perspective */

    --g: calc(var(--c)*0.707);
    /* 0.707 = cos(45deg) = sin(45deg) */

    color       : #0E172C;
    transition  : 0.5s;
    border      : solid transparent;
    border-width: var(--b) calc(var(--c) + var(--b)) calc(var(--c) + var(--b)) var(--b);
    background  :
        linear-gradient(45deg, transparent var(--g), rgba(255, 255, 255, 0.6) 0) right /var(--c) 100%,
        linear-gradient(-135deg, transparent var(--g), rgba(255, 255, 255, 0.3) 0) bottom /100% var(--c),
        conic-gradient(from -180deg at top var(--b) left var(--b), currentColor 270deg, transparent 0),
        conic-gradient(from 0deg at bottom calc(var(--c) + var(--b)) right calc(var(--c) + var(--b)), currentColor 270deg, transparent 0);
    background-repeat: no-repeat;
    background-origin: border-box;
    transform        : translate(calc(var(--c)/1), calc(var(--c)/1));
    clip-path        :
        polygon(calc(100% - var(--c)) 0%, calc(100% - var(--c)) 0%,
            0% 0%,
            0% calc(100% - var(--c)), 0% calc(100% - var(--c)),
            calc(100% - var(--c)) calc(100% - var(--c)),
            calc(100% - var(--c)) calc(100% - var(--c)));
}

.d-2:hover {
    transform: translate(0, 0);
    clip-path:
        polygon(100% var(--c), calc(100% - var(--c)) 0%,
            0% 0%,
            0% calc(100% - var(--c)), var(--c) 100%,
            100% 100%,
            100% 100%);
}

.d-3 {
    --c: 20px;
    /* the cube perspective */

    --g: calc(var(--c)*0.707);
    /* 0.707 = cos(45deg) = sin(45deg) */

    border      : solid transparent;
    border-width: 0 var(--c) var(--c) 0;
    background  :
        linear-gradient(45deg, transparent var(--g), rgba(255, 255, 255, 0.6) 0) right /var(--c) 100%,
        linear-gradient(-135deg, transparent var(--g), rgba(255, 255, 255, 0.3) 0) bottom /100% var(--c);
    background-repeat: no-repeat;
    background-origin: border-box;
    transition       : 0.3s, background-color 0.3s 0.3s, color 0.3s 0.3s;
    transform        : translate(calc(var(--c)/1), calc(var(--c)/1));
    clip-path        :
        polygon(calc(100% - var(--c)) 0%, calc(100% - var(--c)) 0%,
            0% 0%,
            0% calc(100% - var(--c)), 0% calc(100% - var(--c)),
            calc(100% - var(--c)) calc(100% - var(--c)),
            calc(100% - var(--c)) calc(100% - var(--c)));
}

.d-3:hover {
    transition      : 0.3s 0.3s, background-color 0.3s, color 0.3s;
    background-color: #0E172C;
    color           : #fff;
    transform       : translate(0, 0);
    clip-path       :
        polygon(100% var(--c), calc(100% - var(--c)) 0%,
            0% 0%,
            0% calc(100% - var(--c)), var(--c) 100%,
            100% 100%,
            100% 100%);
}

.animnav1:hover {
    --d: 100%;
}

//Animación xd
.anim {
    animation-name    : bounceInBottom;
    animation-duration: 2s;
    position          : absolute;
    bottom            : 0;
    top               : 0;
    right             : 0;
    left              : 0;
}

@keyframes bounceInBottom {
    0% {
        opacity          : 0;
        -webkit-transform: translateX(-2000px);
        transform        : translateX(-2000px);
    }

    60% {
        opacity          : 1;
        -webkit-transform: translateX(30px);
        transform        : translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
        transform        : translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform        : translateX(0);
    }
}


// Línea de tiempo
body {
    margin-top: 20px;
}

.linea_tiempo {
    border-left               : 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius   : 4px;
    background                : rgba(114, 124, 245, 0.09);
    margin                    : 0 auto;
    letter-spacing            : 0.2px;
    position                  : relative;
    line-height               : 1.4em;
    font-size                 : 1.03em;
    padding                   : 50px;
    list-style                : none;
    text-align                : left;
    max-width                 : 40%;
}

@media (max-width: 767px) {
    .linea_tiempo {
        max-width: 98%;
        padding  : 25px;
    }
}

.linea_tiempo h1 {
    font-weight: 300;
    font-size  : 1.4em;
}

.linea_tiempo h2,
.linea_tiempo h3 {
    font-weight  : 600;
    font-size    : 1rem;
    margin-bottom: 10px;
}

.linea_tiempo .event {
    border-bottom : 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom : 25px;
    position      : relative;
}

@media (max-width: 767px) {
    .linea_tiempo .event {
        padding-top: 30px;
    }
}

.linea_tiempo .event:last-of-type {
    padding-bottom: 0;
    margin-bottom : 0;
    border        : none;
}

.linea_tiempo .event:before,
.linea_tiempo .event:after {
    position: absolute;
    display : block;
    top     : 0;
}

.linea_tiempo .event:before {
    left       : -207px;
    content    : attr(data-date);
    text-align : right;
    font-weight: 100;
    font-size  : 0.9em;
    min-width  : 120px;
}

@media (max-width: 767px) {
    .linea_tiempo .event:before {
        left      : 0px;
        text-align: left;
    }
}

.linea_tiempo .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow        : 0 0 0 3px #727cf5;
    left              : -55.8px;
    background        : #fff;
    border-radius     : 50%;
    height            : 9px;
    width             : 9px;
    content           : "";
    top               : 5px;
}

@media (max-width: 767px) {
    .linea_tiempo .event:after {
        left: -31.8px;
    }
}

.rtl .linea_tiempo {
    border-left               : 0;
    text-align                : right;
    border-bottom-right-radius: 0;
    border-top-right-radius   : 0;
    border-bottom-left-radius : 4px;
    border-top-left-radius    : 4px;
    border-right              : 3px solid #727cf5;
}

.rtl .linea_tiempo .event::before {
    left : 0;
    right: -170px;
}

.rtl .linea_tiempo .event::after {
    left : 0;
    right: -55.8px;
}


//Imagen principal
.img-fluid {
    height         : 415px !important;
    width          : 400px;
    object-fit     : none;
    object-position: left top;
}

//Navegación
.drop-down02 {
    position: relative;
}

.drop-down02 .sub-menu02 {
    position: absolute !important;
    left    : 100% !important;
    top     : 0 !important;
}

.udrop {
    top: 133% !important;
}

.drop-down02 .dropdown-toggle {
    padding: .25rem 1.1rem !important;
}



//Diseños modal detalles de mascotas

.modal-body {
    padding: 0 !important;
}

#container {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    min-height     : 100vh;
    width          : 100%;
    box-sizing     : border-box;
    position       : relative;
}

.container-img-details {
    position: relative;
    width   : 100%;
    height  : 442px;
    z-index : 5;
}

.img-details {
    width     : 100%;
    height    : 455px;
    object-fit: cover;
}

.container-details {
    box-sizing      : border-box;
    flex-grow       : 1;
    display         : flex;
    flex-direction  : column;
    align-items     : flex-start;
    padding         : 16px 20px;
    background-color: #FFF;
    width           : 100%;
    border-radius   : 16px 16px 0px 0px;
    z-index         : 10;
    position        : relative;
}

.details-basics {
    display       : flex;
    flex-direction: column;
    width         : 100%;
}

.details-name-favorite {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    position       : relative;
    width          : 100%;
}

.details-name-gender {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: flex-start;
    padding        : 0px;
    align-self     : stretch;
}

.name-details {
    font-style : normal;
    font-weight: 800;
    font-size  : 24px;
    line-height: 33px;
    color      : #0E172C;
    margin     : 0 8px;
}

.favorite-details {
    width           : 48px;
    height          : 48px;
    background-color: #FFF;
    filter          : drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
    border-radius   : 50px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-shrink     : 0;
}

.img-favorite {
    opacity: 50%;
}

.img-favorite-active {
    opacity: 100%;
}

.details-race-age {
    display       : flex;
    flex-direction: row;
    margin-top    : 20px;
}

.details-race {
    width          : 50%;
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    align-items    : center;
    flex-wrap      : wrap;
}

.txt-details {
    font-style    : normal;
    font-weight   : normal;
    font-size     : 14px;
    line-height   : 19px;
    letter-spacing: 0.005em;
    color         : #535353;
    margin-left   : 7px;
}

.details-age {
    width          : 50%;
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    align-items    : center;
}

.details-address {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    margin-top    : 10px;
}

.details-personality {
    display       : flex;
    flex-direction: column;
    padding       : 6% 0 0 0;
}

.personality-title {
    font-style   : normal;
    font-weight  : bold;
    font-size    : 18px;
    line-height  : 25px;
    color        : #0E172C;
    margin-bottom: 5px;
}

.personalities-list-details {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
}

.personality-item-details {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    padding         : 10px;
    background-color: #FFF;
    border          : 2px solid #A786DF;
    box-sizing      : border-box;
    border-radius   : 8px;
    width           : 92px;
    height          : 92px;
    margin-right    : 20px;
}

.personality-text {
    font-weight   : normal;
    font-size     : 16px;
    line-height   : 24px;
    text-align    : center;
    letter-spacing: 0.005em;
    color         : #535353;
}

.history-details {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    padding       : 6% 0 0 0;
}

.personality-title {
    font-style   : normal;
    font-weight  : bold;
    font-size    : 18px;
    line-height  : 25px;
    color        : #0E172C;
    margin-bottom: 5px;
}

.history-text-details {
    font-style    : normal;
    font-weight   : normal;
    font-size     : 16px;
    line-height   : 24px;
    letter-spacing: 0.005em;
    color         : #535353;
}

.footer-details {
    display        : flex;
    flex-direction : row;
    width          : 100%;
    justify-content: space-between;
}

.author-details {
    display       : flex;
    flex-direction: row;
    align-items   : center;
}

.img-author-details {
    width        : 48px;
    height       : 48px;
    object-fit   : cover;
    border       : 3px solid #85D1CE;
    border-radius: 50px;
    margin-right : 10px;
}

.info-author-details {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
}

.by-author-details {
    font-style    : normal;
    font-weight   : normal;
    font-size     : 11px;
    line-height   : 15px;
    letter-spacing: 0.004em;
    color         : #535353;
}

.name-author-details {
    font-style    : normal;
    font-weight   : bold;
    font-size     : 14px;
    line-height   : 19px;
    letter-spacing: 0.005em;
    color         : #0E172C;
}

.btn-contact {
    text-decoration : none;
    background-color: #0E172C;
    padding         : 16px;
    border-radius   : 98px;
    color           : #FFF;
    width           : 120px;
    height          : 20px;
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    align-items     : center;
}

//Producto comercial

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }


@media screen and (max-width :767px) {
    .drop-down02 .sub-menu02 {
        position: static !important;
    }
}

@media screen and (max-width :768px) {
    .prueba {
        padding-bottom: 800px !important;
    }
}

@import "../libs/bootstrap/scss/bootstrap";